@{
    ViewData["Title"] = "Pet";
}
@model IEnumerable<AnimalShelter.Models.Pet>
@inject LanguageService language


<div class="container" style="text-align:center">
    <div class="row">
        <div class="col">
            <form asp-action="Index" method="get">
                <input type="text" class="form-control" name="SearchString" placeholder="Search">
            </form>
        </div>
        <div class="col">
            <div class="link">
                <a asp-action="Index">@language.GetKey("all")</a> |
                <a asp-action="Dog">@language.GetKey("dog")</a> |
                <a asp-action="Cat">@language.GetKey("cat")</a> |
                <a asp-action="Bird">@language.GetKey("bird")</a>
            </div>
        </div>
    </div>

    <br />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

        @foreach (var item in Model)
        {
            <form asp-action="Adoption">
                <div class="col" style="margin-top:1rem">
                    <div class="card" style="width: 18rem;height: 27rem;">
                        <img src="@Html.DisplayFor(modelItem => item.Image)" />
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Species)</h5>
                            <h6>@language.GetKey("age"): @Html.DisplayFor(modelItem => item.Age)</h6>
                            @*<button type="button" class="btn btn-secondary" disabled>@Html.DisplayFor(modelItem => item.FamilyaId)</button>*@
                            <a asp-action="Adoption" asp-route-id="@item.PetId">@language.GetKey("want")</a>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>

</div>

<style>
    .form-control {
        float: left;
    }
    .link {
        float: right;
    }
</style>