
@{
    ViewData["Title"] = "Animal";
}
@model IEnumerable<AnimalShelter.Models.Adoption>
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

@inject LanguageService language

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-outline-success">
        <a class="nav-link text-dark" asp-area="" asp-controller="Panel" asp-action="New">@language.GetKey("newAdoption")</a>
    </button>
    <button type="button" class="btn btn-outline-success">
        <a class="nav-link text-dark" asp-area="" asp-controller="Panel" asp-action="Create">@language.GetKey("newAnimal")</a>
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @language.GetKey("PetId")
                </th>
                <th>
                    @language.GetKey("user")
                </th>
                <th>
                    @language.GetKey("situation")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PetId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Situation)
                    </td>
                    <td>
                        <a asp-controller="Panel" asp-action="Approve" asp-route-id="@item.Id">@language.GetKey("approve")</a>
                    </td>
                    <td>
                        <a asp-controller="Panel" asp-action="Reject" asp-route-id="@item.Id" onclick="reject()">@language.GetKey("reject")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .btn-outline-success {
        float: right;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
</style>
<script>
    function reject() {
        alert("reddedildi");
    }
</script>

