
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "Animal";
}
@model IEnumerable<AnimalShelter.Models.Pet>
@inject LanguageService language


<div class="container" style="text-align:center">
    <h1>@language.GetKey("pets")</h1>
    <div class="row">
        <div class="col">
            <div class="link">
                <a asp-controller="Panel" asp-action="Families">@language.GetKey("families")</a> |
                <a asp-controller="Panel" asp-action="Adoption">@language.GetKey("adoptionRequests")</a>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-success" style="float:right;margin-bottom:1rem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Panel" asp-action="Create"> @language.GetKey("newAnimal")</a>
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    @language.GetKey("image")
                </th>
                <th>
                    @language.GetKey("familya")
                </th>
                <th>
                    @language.GetKey("species")
                </th>
                <th>
                    @language.GetKey("age")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PetId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FamilyaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Species)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PetId">@language.GetKey("edit")</a>
                        <a asp-action="Delete" asp-route-id="@item.PetId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
.link {
    float:left;
}
    .btn-outline-success {
        float:right;
    }
    h1 {
        text-transform: uppercase;
    }
  
</style>
