@{
    ViewData["Title"] = "Animal";
}
@model IEnumerable<AnimalShelter.Models.Animal>


<div class="container" style="text-align:center">
    <h1>ANIMALS</h1>
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        @foreach (var item in Model)
        {
                <div class="col" style="margin-top:1rem">
                    <div class="card" style="width: 18rem;height: 27rem;">
                        <img src="@Html.DisplayFor(modelItem => item.Image)" />
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Species)</h5>
                            <h6>Age: @Html.DisplayFor(modelItem => item.Age)</h6>
                            <button type="button" class="btn btn-secondary" disabled>@Html.DisplayFor(modelItem => item.Familya)</button>
                            <a asp-action="Edit" asp-route-id="@item.AnimalId">Düzenle</a> |
                            <a asp-action="Delete" asp-route-id="@item.AnimalId">Sil</a>
                        </div>
                    </div>
                </div>
        }
      </div>
    
</div>
  
  




